Package: svncterm
Version: 1.2-1
Section: x11
Priority: optional
Depends: libc6 (>= 2.7-18), libjpeg62, zlib1g (>= 1:1.2.1), libvncserver0
Maintainer: GRyCAP <products@grycap.upv.es>
Description: VNC Terminal Emulator
 With svncterm you can start commands and export its standard input and
 output to any VNC client (simulating a xterm Terminal). This is a
 simplification  of vncterm from proxmox (see
 https://github.com/proxmox/vncterm)
